<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
    <% if (errors) {%>
    <ul class="notice">
      <% errors.array().forEach(error => {%>
      <li><%= error.msg %></li>
    <% }) %>
    </ul>
    <% } %>
      <div id="registerContainer">
        <form id="resgisterForm" action="/account/updateaccount/" method="post">
            <div class="row">
                <div class="col-25"><label for="account_firstname">First Name:</label></div>
                <div class="col-75"><input type="text" name="account_firstname" id="account_firstname" required pattern="^[A-Za-z]+$" value="<%= locals.account_firstname %>"></div>
              </div>   
            <div class="row">
                <div class="col-25"><label for="account_lastname">Last Name:</label></div>
                <div class="col-75"><input type="text" name="account_lastname" id="account_lastname" required pattern="^[A-Za-z]+$" value="<%= locals.account_lastname %>"></div>
              </div>   
            <div class="row">
                <div class="col-25"><label for="account_email">Email:</label></div>
                <div class="col-75"><input type="text" name="account_email" id="account_email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value="<%= locals.account_email %>"></div>
              </div>           
          <div class="row">
            <input type="hidden" name="account_id" <% if(locals.account_id) { %>value="<%= locals.account_id %>"<%}%>>
            <button disabled type="submit">Update Account</button>
          </div>  
        </form>
      </div>
      <div id="secondRegisterContainer">
        <form id="secondResgisterForm" action="/account/updatepassword/" method="post">
          <label for="account_password">Password:</label>
          <input type="password" name="account_password" id="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
          <div><i>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</i></div>  
          <div class="row">
            <input type="hidden" name="account_id" <% if(locals.account_id) { %>value="<%= locals.account_id %>"<%}%>>
            <button type="submit">Change Password</button>
          </div>  
        </form>
      </div>
      <script src="../../js/inv-update.js"></script>
    <% } else {
        res.redirect('/')
    } %>