<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
    <% if (errors) {%>
    <ul class="notice">
      <% errors.array().forEach(error => {%>
      <li><%= error.msg %></li>
    <% }) %>
    </ul>
    <% } %>
      <div id="registerContainer">
        <form id="resgisterForm" action="/inv/update" method="post">
          <div class="row">
            <div class="col-25"><label for="classificationList">classificationList</label></div>
            <div class="col-75"><%-classificationSelect %></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_make">Make:</label></div>
            <div class="col-75"><input type="text" name="inv_make" id="inv_make" placeholder="insert car Make(exemple: Chevy)" required pattern="^[A-Za-z]+$" value="<%= locals.inv_make%>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_model">Model:</label></div>
            <div class="col-75"><input type="text" name="inv_model" id="inv_model" placeholder="insert car Model(exemple: Camaro)" required value="<%= locals.inv_model%>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_description">Description:</label></div>
            <div class="col-75"><textarea name="inv_description" id="inv_description" style="height:200px" placeholder="Write Description.." required><%= locals.inv_description%></textarea></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_image">Image:</label></div>
            <div class="col-75"><input type="text" name="inv_image" id="inv_image" required value="<%= locals.inv_image %>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_thumbnail">Thumbnail:</label></div>
            <div class="col-75"><input type="text" name="inv_thumbnail" id="inv_thumbnail"  required value="<%= locals.inv_thumbnail %>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_price">Price:</label></div>
            <div class="col-75"><input type="text" name="inv_price" id="inv_price" pattern="^\d+$" placeholder="It must be a numerical value(exemple: 200)." required value="<%= locals.inv_price %>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_year">Year:</label></div>
            <div class="col-75"><input type="text" name="inv_year" id="inv_year" required pattern="^\d{1,4}$" placeholder="It must be an integer and it must have 4 digits or less(exemple: 1800)." value="<%= locals.inv_year %>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_miles">Miles:</label></div>
            <div class="col-75"><input type="text" name="inv_miles" id="inv_miles" required pattern="^\d+$" placeholder="It must be a numerical value(exemple: 150)." value="<%= locals.inv_miles %>"></div>
          </div>  
          <div class="row">
            <div class="col-25"><label for="inv_color">Color:</label></div>
            <div class="col-75"> <input type="text" name="inv_color" id="inv_color" required pattern="^[A-Za-z]+$" placeholder="insert color name(exemple: Black)." value="<%= locals.inv_color %>"></div>
          </div>  
          <div class="row">
            <input type="hidden" name="inv_id" <% if(locals.inv_id) { %>value="<%= locals.inv_id %>"<%}%>>
            <button disabled type="submit">Update Vehicle</button>
          </div>  
        </form>
      </div>
      <script src="../../js/inv-update.js"></script>
    <% } else {
        res.redirect('/')
    } %>